.homePage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  
}

.homePage h1 {
  margin-top: 60px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 2rem;
  color: #dfb759;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 8%;
  column-gap: 8%;
  padding: 54px;
  padding-bottom: 80px;
  padding-top: 10%;
}

/* .card-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-bottom: 1px solid #dfb759;
  border-radius: 20px;
  padding-bottom: 5%;
} */

/* .card img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-self: center;
  object-fit: cover;
} */
@media (max-width: 768px) {
  .cards-container {
    width: 92%;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    padding: 4%;
    padding-bottom: 120px;
    /* width: 95%; */
    justify-content: center;
    justify-self: center;
  }
}
