.homePage {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  height: 100vh;
}

.homePage h1 {
  margin-top: 20px; 
  margin-bottom: 20px; 
  text-align: center; 
  font-size: 2rem; 
  color: #dfb759;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px; 
  padding: 14px;
  padding-bottom: 80px;
}

.card-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden; 
  border-bottom: 1px  solid #dfb759;
  border-radius: 20px;
}

.card img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr); 
    gap: 40px;
    padding-bottom: 80px;
    width: 95%; 
    justify-content: center;
  }
}

