.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 88%;
  height: 92%;
  justify-self: center;
  margin-bottom: 10px;
  align-self: center;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  height: 100%;
  background: rgba(12, 12, 0, 0.257);
  transition: bottom 0.7s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .card-overlay {
  bottom: 0;
}
.card-wrapper {
  transition: all 0.3s ease;
}

.card-wrapper:hover {
  box-shadow: 13px 9px 20px 0px #dfb759;
  transform: scale(1.1);
}
.card-category {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #dfb759;
}

.card-category p {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #dfb759;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: 0;
    padding-top: 90%;
    position: relative;
  }

  .card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-category {
    margin-top: 5px;
    font-size: 1.2rem;
  }

  .card-category p {
    font-size: 1rem;
    letter-spacing: 0.5px;
  }

  .card-overlay {
    display: none;
  }
}
