.header {
  background-color: black;
  color: #dfb759;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .lang {
    width: 50px;
    height: 35px;
  }
  .toggles {
    display: flex;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
  } */

.mainLogo img {
  height: 38px;
  width: 44px;
  padding: 20px;
}
.mainLogo:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
