@font-face {
  font-family: 'Geopixel';
  src: url('../../Assets/Fonts/geopixel.ttf') format('truetype'); /* შეაცვლე გზას ფონტის რეალურ ადგილმდებარეობაზე */
  font-weight: normal;
  font-style: normal;
}
.carousel {
  position: relative;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #666;
  position: relative;
  margin-bottom: 100px;
}
.homeMainText {
  position: absolute;
  color: #e7c474;
  background-color: #000000db;
  width: 25%;
  padding: 5%;
  height: 100%;
  align-self: center;
  font-family: FiraGO light, sans-serif;
  
 
  line-height: 1.3;
  /* text-align: center;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px;
  color: white; */
}
.homeMainText h1 {
  /* font-size: 2.5rem;
  font-weight: bold; */
  /* color: transparent; 
  -webkit-text-stroke: 0.5px #666; */
  font-family: "Geopixel", sans-serif;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-images img {
  width: 100%;
  max-height: 100%;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-images img.active {
  display: block;
  opacity: 1;
}

.carousel-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: rgba(223, 183, 89, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.144);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.dot:hover {
  background-color: rgba(223, 183, 89, 0.8);
  transform: scale(1.2);
}

.dot.active {
  background-color: #dfb759;
}
a {
  text-decoration: none;
}
.slide-link {
  border: 1px solid grey;
  border-radius: 50px 30px;
  padding: 10px 13px;
  color: grey;
  margin-top: 15px;
}
.slide-link:hover {
  border: 1px solid #2f26b1;
  color: #2f26b1;
}
@media (max-width: 768px) {
  .carousel {
    width: 95%;
  }

  .homeMainText {
    width: auto;
    font-size: medium;
    padding-top: 15%;
  }
  .homeMainText h1 {
    font-size: 1.5rem;
    line-height: 1.9;
    font-weight: bold;
    color: transparent; /* ტექსტი გამჭვირვალე */
    -webkit-text-stroke: 0.1px #666;
    margin-bottom: 20%;
  }
}
